.select-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap: 5px;
    select {
        border: none;
        font-size: 24px;
        padding: 0.5rem;
        border-radius: 0.5rem;
        background-color: white;
    }
    input {
        outline: none;
        border: none;
        border-radius: 0.5rem;
        font-size: 18px;
        padding: 0.5rem;
        &[type="number"]::-webkit-inner-spin-button {
            display: none;
        }
    }
}
.option {
    padding: 1rem 0.8rem;
    border-radius: 5rem;
    background-color: white;
    &.selected {
        background-color: grey;
    }
}
